/*------home-----*/

nav h2{
    font-size: 25Spx;
    margin-left: 28px;
    padding: 15px 10px;
    margin-top: 60px;
}
.food{
    margin-bottom: 10%;
}


.food .row{
    display:flex;
    flex-basis: 31%;
   
}

.food h1{
    font-size: 40px;
    margin-left: 28px;
    padding: 15px 10px;
    margin-top: 60px;
}

.food p{
    color:chocolate;
  
    margin-left: 28px;
    padding:10px 8px;
    font-size: 18px;
}

.food .image img{
    height: 80%;
    width:70%;
    margin-left: 150px;
    
}

.photo-frame{
    border: 2px solid goldenrod;
    border-radius: 10px;
}

.photo-detail{
     position: absolute;
}

.food a{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,#f44336);
    color:white;
    margin-left: 30px;
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
    border-radius: 10px;
}


.food a:hover{
    color:darkcyan;
}


/* Popular Collection */

.container h2 { 
    text-align: center;
    margin-bottom: 5%;

 }

 .course .course-banner img{
    width: 300px;
    height: 256px;
 }
 .fa-star.filled{   
    color:Orange
 }
 .fa-star{
     font-size:11px;
 }
 .course-info{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
 }
 .course-info p{
    font-size: 10px;
     Weight:700
 }
 .course{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
 }






 /* Arrow */
 .see{
        text-decoration: none;
       
        color:white;
        margin-right: 30px;
        font-weight: 700;
        font-size:19px;
        padding:10px 30px;
       text-align: right;
       margin-bottom: 10%;

    }
 }