/*------home-----*/

nav h2{
    font-size: 25Spx;
    margin-left: 28px;
    padding: 15px 10px;
    margin-top: 60px;
}
.influncer{
    margin-bottom: 10%;
}


.influncer .row{
    display:flex;
    flex-basis: 31%;
   
}

.influncer h1{
    font-size: 40px;
    margin-left: 28px;
    padding: 15px 10px;
    margin-top: 60px;
}

.influncer p{
    
  
    margin-left: 28px;
    padding:10px 8px;
    font-size: 18px;
}

.influncer .image img{
    height: 80%;
    width:70%;
    margin-left: 150px;
    
}

/* .photo-frame{
    border: 2px solid goldenrod;
    border-radius: 10px;
} */

.photo-detail{
     position: absolute;
}

.influncer a{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,#f44336);
    color:white;
    margin-left: 30px;
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
    border-radius: 10px;
}


.influncer a:hover{
    color:darkcyan;
}


/* Popular Collection */

.Collionect h2 { 
    margin-top: 10%;
    text-align: center;
    margin-bottom: 5%;

 }

 .course .course-banner img{
    width: 300px;
    height: 256px;
 }
 .fa-star.filled{   
    color:Orange
 }
 .fa-star{
     font-size:11px;
 }
 .course-info{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
 }
 .course-info p{
    font-size: 10px;
     
 }
 .container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
     margin-left: 100px;
 }






 /* Arrow */
 .see{
        text-decoration: none;
       
        color:white;
        margin-right: 30px;
        font-weight: 700;
        font-size:19px;
        padding:10px 30px;
       text-align: right;
       margin-bottom: 10%;

    }


 }


/*------Buy Products-----*/


.buy{
    margin-bottom: 10%;
}


.buy .products{
    display:flex;
    flex-basis: 31%;
   
}

.buy h1{
    font-size: 40px;
    margin-left: 28px;
    padding: 15px 10px;
    margin-top: 60px;
}

.buy p{
    
  
    margin-left: 28px;
    padding:10px 8px;
    font-size: 18px;
}

.buy .image img{
    height: 80%;
    width:70%;
    margin-left: 150px;
    
}

/* .photo-frame{
    border: 2px solid goldenrod;
    border-radius: 10px;
} */

.photo-detail{
     position: absolute;
}

.buy a{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,#f44336);
    color:white;
    margin-left: 30px;
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
    border-radius: 10px;
}


.buy a:hover{
    color:darkcyan;
}







 /* footer  */

/*--------footer--------*/


.footer{
    
    background-color:black;
    
   
}

.footer h1{
    margin-bottom:25px;
    color:white;
    text-align:center;
    font-size:30px;
    margin-top:20px;
    font-weight: 600;
} 

.icons .fab{
    color:white;
    text-align:center;
    margin:0 13px;
    cursor:pointer;
    padding:18px 0;
}

.footer p{
    font-size:17px;
    color:white;
    text-align:center;
}

.footer .icons{
    
    color:white;
    font-size: 30px;
    text-align:center;
}

.footer span{
    color:rgb(116, 29, 51)
}


